.ani-slide-in-left
  animation slide-in-left 0.2s ease 0s both
  &.is-closing
    animation-delay 0s !important
    animation slide-out-left 0.2s ease 0s both

@keyframes slide-in-left
  0%
    opacity 0
    transform translate(20px, 0)
  100%
    opacity 1
    transform translate(0, 0)

@keyframes slide-out-left
  0%
    opacity 1
    transform translate(0, 0)
  100%
    opacity 0
    transform translate(20px, 0)

.ani-slide-in-top
  animation slide-in-top 0.2s ease 0s both

@keyframes slide-in-top
  0%
    opacity 0
    transform translate(0, -20px)
  100%
    opacity 1
    transform translate(0, 0)

.ani-zoom-in
  animation zoom-in 0.2s ease 0s both

@keyframes zoom-in
  0%
    opacity 0
    transform scale(0.9)
  100%
    opacity 1
    transform scale(1)

.ani-slide-in-left, .ani-slide-in-top
  for i in 1..10
    &.delay-{i}
      animation-delay unit(0.05 * i, 's')
