.button-longpress-slot
  z-index 2

.button-longpress-action
  position absolute
  width 100%
  height 140%
  background-color rgba(picton, 0.6)
  border-radius 2px
  animation longpress-action .6s linear 0s both

@keyframes longpress-action
  0%
    transform scale(1)
    opacity 1
  100%
    transform scale(1.6)
    opacity 0

.button-longpress-inner
  display flex
  position absolute
  width 0%
  height 100%
  top 0
  justify-content center
  align-items center
  &.position-left
    left 0
  &.position-right
    right 0
  &.theme-dark
    background-color rgba(black, 0.4)
  &.theme-light
    background-color rgba(white, 0.4)

.button
  transition background-color .1s ease
