.justify-flex-end
  justify-content flex-end

.justify-center
  justify-content center

.align-self-center
  align-self center

.align-self-end
  align-self end

.display-flex
  display flex

.is-vertical-center
  align-items center

.position-relative
  position relative

.display-inline-block
  display: inline-block

.overflow-hidden
  overflow hidden

.flex-shrink
  flex-shrink: 1

.break-word
  word-break break-word

.is-absolute
  position absolute

.is-topleft
  top 0
  left 0
