.justify-flex-end
  justify-content flex-end

.justify-center
  justify-content center

.align-self-center
  align-self center

.align-self-end
  align-self end

.display-flex
  display flex

.is-vertical-center
  align-items center

.position-relative
  position relative

.display-inline-block
  display: inline-block

.object-cover
  object-fit cover
  object-position 0 10%
  border-radius 50%

.overflow-hidden
  overflow hidden

.flex-shrink
  flex-shrink: 1

.break-word
  word-break break-word
