@import 'includes/colors.styl'
@import keyframes

html, body
  background-color blackSqueeze

.page
  margin-top 55px

.container-640
  width 640px
  margin auto

.input-slide-in
  animation inputSlide 0.2s ease 0s both
  &.delay-1
    animation-delay 0.05s
.input-slide-in-neg
  animation inputSlideNeg 0.2s ease 0s both


