@import 'includes/colors.styl'
@import keyframes
@import animations
@import transitions
@import helpers

html, body
  background-color blackSqueeze

.page
  margin-top 55px

.container-640
  width 640px
  margin auto


// heleprs

