.navbar-brand .navbar-item .logo
  width 30px
  height 30px
  margin-right 10px
.navbar-brand  a.navbar-burger:hover
  color picton

.navbar
  transition box-shadow 0.3s ease-in

.has-nav-shadow
  box-shadow 0px 2px 10px rgba(10, 10, 10, 0.6)

.login-enter-active
  transition all .3s ease 0s
  overflow hidden
.login-leave-active
  transition all .3s ease 0s
  overflow hidden

.login-enter
  transform translate(0px, -10px)
.login-leave-to
  transform translate(0px, -10px)
.login-enter, .login-leave-to
  opacity 0


.navbar-second
  top 52px
  z-index 20

.navbar.is-link .navbar-burger span
    background-color white !important
    color white !important
